# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Local env files
.env
.venv
ENV/
venv/

# Misc
*.log
*.pot
*.mo

# Python virtualenv
python_env/
